body {
  background-color: rgb(254, 182, 13);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  margin-top: 20px;
}

header {
  height: 60px;
  padding: 8px 16px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

main {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  height: 600px;
}

#list-section {
  width: 30%;
  background-color: black;
  color: white;
  padding: 8px 16px;
  box-sizing: border-box;
}

#list-section .title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

#list-section ul {
  margin-bottom: 10px;
  max-height: 90%;
  overflow: auto;
}

.list-item {
  padding: 6px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item .right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.list-item .right .todo-count {
  min-width: 40px;
  text-align: right;
}

.list-item.selected {
  background-color: DodgerBlue;
}

#todo-section {
  width: 70%;
  background-color: black;
  color: white;
  padding: 8px 16px;
  box-sizing: border-box;
}

#todo-section .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

#todo-section .title-container .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

#todo-section ul {
  margin-bottom: 10px;
  max-height: 90%;
  overflow: auto;
}

.todo-item {
  padding: 6px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
